body {
  width: 60%;
  margin: auto;
  padding-bottom: 50px;
  background: #afcbfa;
}

ul {
  margin: auto;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}

ol {
  margin: auto;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}


p {
  margin-top: 10px;
}

a{
  text-decoration: none;
  color: rgb(82, 183, 255)
}
h1{
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

